  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,600&display=swap');

/*.animated-list-container {
    overflow: hidden;
    height: 200px; /* Set the height of the container 
     border: 1px solid red; 
     text-align: center;
     font-size: 1rem;
     display: flex;
     justify-content: center;
  }
  */
  /* .animated-list {
    list-style-type: none;
    width: 70%;
    padding: 0;
    border : 1px dashed yellow;
    text-align: center;
   
  }
  
  .animated-list-item {
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #ccc; /* Optional: Add a border between items 
    animation: moveDown 5s linear infinite; /* Adjust the duration as needed 
  } */
/*   
  @keyframes moveDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(100%);
    }
  }
   */

   .quotes{
    display: flex;
    height: 70%;
    font-size: 1rem;
    font-weight: 100;
   padding: 0.5rem;
   overflow: hidden;
   position: relative;

   }

   /* .quotes::before
   {
      position: absolute;
      top : 0;
      left: 0px;
      width:105%;
      height: 0.5rem;
      background-color:  #000000b1;
      content: "";
      z-index: 2;
   } */


   .quote-slide
   {
     animation: roll 50s  infinite linear ; 
     
  }
   
   .quote-slide:hover{
    animation-play-state: paused;
   }
  

   .quote-div
  { 
    min-height:3rem;
    width: 95%;
    /* background-color: rgb(0, 0,0, 0.0); */
 
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /* border-bottom: 2px solid white; */
    background: rgba(0, 0,0,0.3) ;
    border-radius: 10px;
    margin: 0.5rem auto;
    padding: 10px;
    gap : 5px;
  }

  .q-text
  {
    text-shadow:0px 0px 10px #000;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .q-auth
  {
    font-size: small;
    text-shadow: 0 0 5px white;
    font-style: italic;
  }

   @keyframes roll {
    from{
      transform: translateY(0);
    }
    to {
      transform: translateY(-100%);      
    }
    
   }


@media screen and (max-width:400px) {
  
  .quotes{
  
    height: 75%;
    width: 100%;
   }
   
   .quote-div
  { 
    width: 100%;
 
  }

  .q-text
  {
  
    font-size: .8rem;
    letter-spacing: 1px;

  }

  .q-auth
  {
    text-shadow: 0 0 10px black;
    letter-spacing: 0.8px;
  }
  
}